body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
}

.wrapper {
    margin: 0;
    margin: 0 auto;
    max-width: 960px;
}

.navigation {
    /* display: flex; */
    margin: 0;
    padding: 10px 0;
    row-gap: 40px;
}

.navigation div {
    background-color: #2a3644;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 45px;
    list-style: none;
    border-radius: 3px;
    background-color: #2a3644;
}

.navigation a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

