body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding-bottom: 25px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
}

h2 {
    padding-top: 60px;
}

h3 {
    padding-top: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    margin: auto;
    padding: 73px 30px 100px;
    max-width: 960px;
}

.menu {
    margin-bottom: 40px;
    max-width: 960px;
    background-color: #2a3644;
    border-radius: 3px;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    box-sizing: border-box;
}

.navigation .social_networks {
    display: flex;
    margin: 0;
    list-style: none;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.menu b {
    position: relative;
}

.border_menu {
    display: none;
}

.border_menu b {
    width: 100%;
    padding: 0;
    text-align: left;
    background-color: transparent;
}

.border_menu > div + div > b,
.submenu div + div > b,
.submenu b + b {
    border-top: 1px solid #b9bdc1;
}

.border_menu .drop_down_menu b:hover>a,
.drop_down_menu:hover>b>a {
    color: #fd8612;
    background-color: #3f4852;
}

.drop_down_menu {
    position: relative;
    overflow: hidden;
}

/* .drop_down_menu a {
    background-color: #c0c1c2;
} */

.menu a {
    display: block;
}

.menu .drop_down_menu:hover>.submenu {
    opacity: 1;
    animation: opensub 10s ease forwards;
}

.menu b:hover+.double_submenu {
    display: block;
}

.navigation a {
    position: relative;
    display: block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #2a3644;
    /* z-index: 3; */
}

.flex_between .navigation__a {
    position: relative;
    padding-left: 60px;
}

.navigation__a--icon:before {
    content: '';
    position: absolute;
    top: 17px;
    left: 30px;
    background: url(../images/social_sprite.png)
}

.flex_between__a--home_icon:before {
    width: 16px;
    height: 13px;
}

.social_networks a {
    display: inline-block;
    margin-right: 26px;
    padding: 0;
    vertical-align: middle;
    background: url(../images/social_sprite.png);
}

a.fb {
    width: 9px;
    height: 18px;
    background-position: -18px -20px;
}

.fb:hover {
    background-position: -18px 0;
}

a.tw {
    width: 16px;
    height: 14px;
    background-position: -29px -20px;
}

.tw:hover {
    background-position: -29px 0;
}

a.in {
    margin-right: 0;
    width: 14px;
    height: 16px;
    background-position: -47px -20px;
}

.in:hover {
    background-position: -47px 0;
}

.submenu {
    opacity: 0;
    /* min-width: 335px; */
    max-height: 0;
    overflow: hidden;
}

.submenu:hover {
    overflow: visible;
}

.submenu b {
    display: block;
}

.submenu a {
    padding: 11px 40px;
    font-size: 15px;
    text-decoration: none;
    color: #2a3644;
    background-color: #d2d4d5;
    font-weight: bold;
}

.submenu b:hover>a {
    background-color: #2a3644;
}

.second_submenu a {
    padding: 11px 50px;
}

.third_submenu a {
    padding: 11px 60px;
}

.table_menu {
    width: 100%;
}

.table_menu>div>.drop_down_menu>b {
    display: block;
}

.burger_bottom {
    position: relative;
    width: 40px;
    height: 24px;
}

.top,
.middle,
.bottom {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.4s ease;
}

.top {
    top: 0;
}

.middle {
    top: 50%;
    transform: translateY(-50%);
}

.bottom {
    bottom: 0;
}

.burger_bottom_open .top {
    top: 40%;
    width: 82%;
    transform: rotate(45deg);
}

.burger_bottom_open .middle {
    opacity: 0;
}

.burger_bottom_open .bottom {
    top: 40%;
    width: 82%;
    transform: rotate(-45deg);
}

.burger_menu {
    position: absolute;
    top: 55px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 235px;
    background-color: #c0c1c2;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    z-index: 1;
}

.burger_menu>b {
    border-bottom: 1px solid #b9bdc1;
    overflow: hidden;
}

.burger_menu>b:last-child {
    border: none;
}

@keyframes visibility {
    0%,
    99% {
        overflow: hidden;
    }
    100% {
        overflow: visible;
    }
}

.price_list {
    overflow-x: scroll;
    padding-bottom: 3px;
    border-radius: 3px;
}

.price_list::-webkit-scrollbar {
    height: 3px;
    background-color: #ededf5;
    border-radius: 3px;
}

.price_list::-webkit-scrollbar-thumb {
    background-color: #2a3644;
    border-radius: 3px;
}

.table,
.price_list_table {
    display: table;
    overflow: hidden;
    min-width: 560px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
}

.table thead tr {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background-color: #2a3644;
}

.table th {
    padding: 13px 25px;
}

.table th + th {
    border-left: 1px solid #3f4852;
}

.th_border_res {
    border-bottom: 1px solid #3f4852;
}

.th_border {
    border-left: 1px solid #3f4852;
}

.table tr:first-child th:first-child {
    border-radius: 3px 0 0 0;
}

.table tr:first-child th:last-child {
    border-radius: 0 3px 0 0;
}

.table th:first-child,
.table td:first-child {
    padding: 13px 0;
}

.table td:first-child,
.price_list_table ul+ul li:first-child {
    min-width: 60px;
    padding: 13px 0;
    text-align: center;
    box-sizing: border-box;
}

.table tbody tr {
    font-size: 16px;
    color: #2a3644;
    background-color: #f2f2f2;
}

.table td {
    padding: 13px 25px;
    border-top: 1px solid #c0c1c2;
}

.table td+td {
    border-left: 1px solid #c0c1c2;
}

.th_name {
    width: 50%;
    text-align: left;
}

.table td:nth-child(n + 3),
.price_list_table ul+ul li:nth-child(n + 3) {
    text-align: right;
}

.table tr:nth-child(2n + 2) td {
    background-color: #e8e8e8;
}

.table tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}

.table tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}

.table tr:hover td {
    background-color: #c0c1c2;
}

.table_topic {
    display: table-row;
    list-style: none;
    background-color: #2a3644;
}

.table_topic li {
    display: table-cell;
    color: #fff;
    font-weight: 700;
}

.table_topic li:nth-child(n + 3) {
    text-align: center;
}

.table_topic li,
.table_topic~ul>li {
    padding: 14px 20px;
    font-size: 16px;
}

.table_topic li {
    border-left: 1px solid #3f4852;
}

.table_topic~ul {
    display: table-row;
    border-collapse: collapse;
    background-color: #f2f2f2;
    border-radius: 3px;
}

.table_topic~ul li {
    border-left: 1px solid #c0c1c2;
}

.table_topic~ul>li {
    display: table-cell;
    color: #2a3644;
    border-top: 1px solid #cdcddd;
}

.table_topic~ul li:first-child {
    border-left: none;
}

.price_list_table ul:nth-child(2n + 3) {
    background-color: #e8e8e8;
}

.table_topic~ul:hover li {
    background-color: #c0c1c2;
}

.price_list_table ul:last-child li:first-child {
    border-radius: 0 0 0 3px;
}

.price_list_table ul:last-child li:last-child {
    border-radius: 0 0 3px 0;
}

@media screen and (min-width: 620px) {
    .price_list {
        overflow-x: visible;
    }

    .price_list_table {
        width: 100%;
    }
}

@media screen and (min-width: 990px) {
    .navigation {
        padding: 0;
    }
 
    .navigation_menu {
        display: block;
    }
    
    .navigation>div {
        display: flex;
        justify-content: space-between;
    }
    
    div.burger_bottom {
        display: none;
    }

    .menu b:hover+.submenu {
        position: absolute;
    }

    .border_menu {
        display: flex;
        justify-content: space-between;
    }

    .navigation a {
        color: #fff;
    }

    .border_menu>div {
        border-left: 1px solid #3f4852;
        border-right: 1px solid #3f4852;
    }

    .border_menu>div:first-child>b>a {
        border-radius: 3px 0 0 3px;
    }

    .border_menu>b {
        width: auto;
    }

    .border_menu>div>b {
        display: inline-block;
        transition: all 1s ease;
    }

    .border_menu>div:first-child {
        border-left: none;
    }

    .border_menu>div:last-child {
        border-right: none;
    }

    .border_menu > div + div > b {
        border-top: none;
    }

    .submenu > div:first-child > b {
        border: none;
    }

    .flex_between .border_menu > div {
        border-right: none;
    }

    .table_menu {
        display: table;
        border-collapse: collapse;
    }

    .table_menu .border_menu {
        display: table-row;
    }

    .table_menu>div>.drop_down_menu {
        display: table-cell;
    }

    .table_menu>div>b>a {
        padding: 15px 20px;
        text-align: center;
    }

    .drop_down_menu {
        overflow: visible;
    }

    .border_menu>.drop_down_menu>b>a {
        text-align: center;
    }

    .drop_down_menu:hover>.submenu {
        display: block;
        animation: opensub 10s ease forwards, over 10s ease forwards;
    }

    .drop_down_menu:hover>.double_submenu {
        display: flex;
    }

    .drop_down_menu .submenu {
        position: absolute;
        top: 100%;
        display: none;
        padding-top: 5px;
        min-width: 210px;
        border-radius: 3px;
        z-index: 4;
    }

    .border_menu > div:last-child > .submenu {
        right: 0;
    }

    .submenu a {
        padding: 11px 20px;
        color: #2a3644;
        background-color: #d2d4d5;
    }

    .submenu>b:first-child a,
    .submenu .drop_down_menu:first-child>b a {
        border-radius: 3px 3px 0 0;
    }

    .submenu>b:last-child a,
    .submenu .drop_down_menu:last-child>b a {
        border-radius: 0 0 3px 3px;
    } 

    .drop_down_menu .second_submenu {
        top: 0;
        left: 100%;
        padding: 0 0 0 5px;
    }
    
    .drop_down_menu .third_submenu {
        top: 0;
        left: calc(-100% - 5px);
        padding: 0 5px 0 0;
    }

    .menu b:hover+.double_submenu {
        display: flex;
    }

    .double_submenu {
        display: flex;
        width: 421px;
    }
    
    .double_submenu b:nth-child(5n + 5) {
        border-right: none;
    }
    
    .double_submenu b:nth-child(4n + 4) {
        border-bottom: none;
    }
    
    .double_submenu .double_first_column > div:first-child > b>a {
        border-radius: 3px 0 0 0;
    }

    .double_submenu .double_first_column > div:last-child > b>a {
        border-radius: 0 0 0 3px;
    }
    
    .double_submenu .double_last_column div:first-child>b>a {
        border-radius: 0 3px 0 0;
    }

    .double_submenu .double_last_column div:last-child>b>a {
        border-radius: 0 0 3px 0;
    }

    .double_first_column,
    .double_last_column {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #d2d4d5;
    }

    .double_centr_column {
        border-right: 1px solid #b9bdc1;
    }

    .double_first_column {
        border-right: 1px solid #b9bdc1;
        border-radius: 3px 0 0 3px;
    }

    .double_last_column {
        border-radius: 0 3px 3px 0;
    }

    .social_networks {
        padding: 14px 30px;
    }
}

@keyframes over {
    0%,
    99% {
        overflow: hidden;
    }
    100% {
        display: none;
        overflow: visible;
    }
}

@keyframes opensub {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 1000px;
    }
}