body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding-bottom: 25px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
}

h2 {
    padding-top: 60px;
}

h3 {
    padding-top: 50px;
}

.wrapper {
    margin: auto;
    padding: 73px 30px 100px;
    max-width: 960px;
}

.menu {
    margin-bottom: 40px;
    max-width: 960px;
    background-color: #2a3644;
    border-radius: 3px;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.navigation_menu {
    display: none;
}

.navigation .social_networks {
    display: flex;
    padding: 14px 30px;
}

.navigation>ul {
    display: flex;
    justify-content: space-between;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}


.menu>ul>li:first-child>a {
    border-radius: 3px 0 0 3px;
}

.menu>ul>li:last-child>a {
    border-radius: 0 3px 3px 0;
}

.menu li {
    position: relative;
}

.border_menu>li {
    display: inline-block;
    border-left: 1px solid #3f4852;
    border-right: 1px solid #3f4852;
}

.border_menu>li:first-child {
    border-left: none;
}

.border_menu>li:last-child {
    border-right: none;
}

.border_menu>li:last-child>.submenu {
    right: 0;
}

.menu a {
    display: block;
}

.menu li:hover>.submenu {
    display: block;
}

.border_menu li:hover>a {
    color: #fd8612;
    background-color: #3f4852;
}

.menu li:hover>.double_submenu {
    display: flex;
}

.navigation a {
    display: block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.flex_between .navigation__a {
    position: relative;
    padding-left: 60px;
}

.navigation__a--icon:before {
    content: '';
    position: absolute;
    top: 17px;
    left: 30px;
    background: url(../images/social_sprite.png)
}

.flex_between__a--home_icon:before {
    width: 16px;
    height: 13px;
}


.social_networks a {
    display: inline-block;
    margin-right: 26px;
    padding: 0;
    vertical-align: middle;
    background: url(../images/social_sprite.png);
}

a.fb {
    width: 9px;
    height: 18px;
    background-position: -18px -20px;
}

.fb:hover {
    background-position: -18px 0;
}

a.tw {
    width: 16px;
    height: 14px;
    background-position: -29px -20px;
}

.tw:hover {
    background-position: -29px 0;
}

a.in {
    margin-right: 0;
    width: 14px;
    height: 16px;
    background-position: -47px -20px;
}

.in:hover {
    background-position: -47px 0;
}

.submenu {
    position: absolute;
    display: none;
    width: 210px;
    top: calc(100% + 5px);
    list-style: none;
    background-color: #d2d4d5;
    border-radius: 3px;
    z-index: 1;
}

.submenu:before {
    content: '';
    position: absolute;
    top: -5px;
    width: 100%;
    height: 5px;
}

.second_submenu {
    top: 0;
    left: calc(100% + 5px);
}

.second_submenu:before {
    content: '';
    position: absolute;
    left: -5px;
    height: 100%;
    width: 5px;
}

.third_submenu {
    top: 0;
    right: calc(100% + 5px);
}

.third_submenu:before {
    content: '';
    position: absolute;
    right: -5px;
    height: 100%;
    width: 5px;
}

.submenu li {
    position: relative;
    border-bottom: 1px solid #b9bdc1;
}

.submenu li:hover>.second_submenu {
    display: block;
}

.submenu li:last-child {
    border: none;
}

.submenu a {
    padding: 11px 20px;
    font-size: 15px;
    text-decoration: none;
    color: #2a3644;
    font-weight: bold;
}

.submenu li:hover>a {
    background-color: #2a3644;
}

.submenu li:hover:first-child>a {
    border-radius: 3px 3px 0 0;
}

.submenu li:hover:last-child>a {
    border-radius: 0 0 3px 3px;
}

.double_submenu {
    flex-direction: column;
    flex-wrap: wrap;
    width: 421px;
    max-height: 164px;
}

.double_submenu li {
    border-right: 1px solid #b9bdc1;
}

.double_submenu li:nth-child(5n + 5) {
    border-right: none;
}

.double_submenu li:nth-child(4n + 4) {
    border-bottom: none;
}

.double_submenu li:hover:first-child>a {
    border-radius: 3px 0 0 0;
}

.double_submenu li:hover:nth-child(4n + 4)>a {
    border-radius: 0 0 0 3px;
}

.double_submenu li:hover:nth-child(5n + 5)>a {
    border-radius: 0 3px 0 0;
}

.double_submenu li:hover:last-child>a {
    border-radius: 0 0 3px 0;
}

.table_menu {
    display: table;
    width: 100%;
}

.table_menu>ul {
    display: table-row;
}

.table_menu>ul>li {
    display: table-cell;
}

.table_menu>ul>li>a {
    display: block;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.burger_bottom {
    position: relative;
    width: 40px;
    height: 24px;
}

.top,
.middle,
.bottom {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.4s ease;
}

.top {
    top: 0;
}

.middle {
    top: 50%;
    transform: translateY(-50%);
}

.bottom {
    bottom: 0;
}

.navigation ul,
.table_menu ul {
    /* display: none; */
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .burger_bottom_open {
    width: 40rem;
    height: 24rem;
} */

.burger_bottom_open .top {
    top: 40%;
    width: 82%;
    transform: rotate(45deg);
}

.burger_bottom_open .middle {
    opacity: 0;
}

.burger_bottom_open .bottom {
    top: 40%;
    width: 82%;
    transform: rotate(-45deg);
}

.burger_menu {
    position: absolute;
    top: 55px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 235px;
    background-color: #1f1f56;
    border-radius: 0 0 5px 5px;
    z-index: 2;
}

/* .top_menu_open ul li {
    padding: 10rem 20rem;
    border-bottom: 1px solid #b1b1d2;
}

/* .top_menu_open ul li:last-child {
    border-bottom: 0;
} */

.table,
.price_list {
    display: table;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
}

.table thead tr {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background-color: #2a3644;
}

.table th {
    padding: 13px 25px;
    border: 1px solid #3f4852;
}

.table tr:first-child th:first-child {
    border-radius: 3px 0 0 0;
}

.table tr:first-child th:last-child {
    border-radius: 0 3px 0 0;
}

.table th:first-child,
.table td:first-child {
    padding: 13px 0;
}

.table td:first-child,
.price_list ul+ul li:first-child {
    width: 60px;
    padding: 13px 0;
    text-align: center;
}

.table tbody tr {
    font-size: 16px;
    color: #2a3644;
    background-color: #f2f2f2;
}

.table td {
    padding: 13px 25px;
    border-top: 1px solid #c0c1c2;
}

.table td+td {
    border-left: 1px solid #c0c1c2;
}

.th_name {
    width: 50%;
    text-align: left;
}

.table td:nth-child(n + 3),
.price_list ul+ul li:nth-child(n + 3) {
    text-align: right;
}

.table tr:nth-child(2n + 2) td {
    background-color: #e8e8e8;
}

.table tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}

.table tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}

.table tr:hover td {
    background-color: #c0c1c2;
}

.table_topic {
    display: table-row;
    list-style: none;
    background-color: #2a3644;
}

.table_topic li {
    display: table-cell;
    color: #fff;
    font-weight: 700;
}

.table_topic li:nth-child(n + 3) {
    text-align: center;
}

.table_topic li,
.table_topic~ul>li {
    padding: 14px 20px;
    font-size: 16px;
}

.table_topic li {
    border-left: 1px solid #3f4852;
}

.table_topic~ul {
    display: table-row;
    border-collapse: collapse;
    background-color: #f2f2f2;
    border-radius: 3px;
}

.table_topic~ul li {
    border-left: 1px solid #c0c1c2;
}

.table_topic~ul>li {
    display: table-cell;
    color: #2a3644;
    border-top: 1px solid #cdcddd;
}

.table_topic~ul li:first-child {
    border-left: none;
}

.price_list ul:nth-child(2n + 3) {
    background-color: #e8e8e8;
}

.table_topic~ul:hover li {
    background-color: #c0c1c2;
}

.price_list ul:last-child li:first-child {
    border-radius: 0 0 0 3px;
}

.price_list ul:last-child li:last-child {
    border-radius: 0 0 3px 0;
}

@media screen and (min-width: 989px) {
    /* .navigation li {
        display: inline-block;
    } */

    .navigation {
        padding: 0;
    }

    .burger_bottom {
        display: none;
    }

    /* .table,
    .price_list {
        display: table;
        overflow: hidden;
        width: 100%;
        border-collapse: collapse;
        border-radius: 3px;
    } */

    .navigation_menu {
        display: block;
    }

    /* .top_menu li {
        margin-right: 25rem;
    }

    .top_menu_open {
        position: static;
        padding: 0;
        width: auto;
    }

    .top_menu_open li {
        padding: 0;
        border-bottom: 0;
    } */
}